[colors]
background = #1e1e2e
foreground = #cdd6f4
selection-background = #313244
selection-foreground = #cdd6f4
border-color = #89b4fa

[mainbar]
font = "JetBrainsMono Nerd Font 12"
width = 30
padding = 10
border = 2
border-radius = 8
background = #1e1e2e
foreground = #cdd6f4
